body {
  font-family: sans-serif;
}

#file-input {
  margin-bottom: 20px;
}

#paper-container {
  border: 1px solid #9b9b9b;
  max-width: 800px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.5;
}

#paper-container a:visited{
    color:blue;
}

#paper-title {
  font-size: 20px;
  font-weight: bold;
}

#navigation {
  display: flex;
  max-width: 800px;
  position: fixed;
  bottom: 20px;
}

#navigation p{
  width: 200px;
  padding-left: 300px;
}

#navigation button {
  width: 100px;
  border: 1px solid #9b9b9b;
  cursor: pointer;
}

#navigation button:disabled {
  opacity: 0.5;
  cursor: default;
}
